page{
	background: $mainBgColor;
}
.course_tab{
	display: flex;
	height: 90upx;
	line-height: 90upx;
	font-size: 32upx;
	background: #FFFFFF;
	margin-bottom: 20upx;
	view{
		position: relative;
		flex-grow: 1;
		text-align: center;
	}
	.active{
		color: $mainColor;
		font-weight: bold;
	}
	.active:after{
		content: '';
		display: block;
		height: 8upx;
		background: $mainColor;
		width: 40upx;
		border-radius: 10upx;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.empty_tips{
	text-align: center;
	font-size: 28upx;
	color: #999999;
	image{
		display: block;
		width: 60%;
		margin: 50upx auto 10upx;
	}
}

.course_warp{
	background: #FFFFFF;
	box-sizing: border-box;
	padding: 20upx 4%;
	.course{
		display: flex;
		position: relative;
		padding-bottom: 30upx;
		margin-bottom: 25upx;
		.course_poster{
			flex-basis: 250upx;
			image{
				width: 100%;
			}
		}
		.course_info{
			flex-grow: 1;
			width: 0;
			box-sizing: border-box;
			padding: 0upx 0 0 14upx;
			.course_title{
				font-size: 32upx;
				font-weight: bold;
			}
			.course_intro{
				font-size: 28upx;
				color: #999;
				margin-top: 10upx;
			}
			.course_sale_info{
				font-size: 26upx;
				margin-top: 12upx;
				display: flex;
				justify-content: space-between;
				.price{
					font-weight: bold;
				}
				.total{
					color: skyblue;
					border: 1upx solid skyblue;
					padding: 4upx 12upx;
					border-radius: 30upx;
				}
			}
		}
	}
	
	.course:after{
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 1upx;
		background: $mainBgColor;
	}
	.course:last-child:after{
		background: none;
	}
}


.course_poster_intro{
	position: relative;
	.poster{
		width: 100%;
		height: 420upx;
		display: block;
	}
	.learning{
		background: rgba(0,0,0,0.3);
		position: absolute;
		color: #FFFFFF;
		top: 30upx;
		left: 50upx;
		font-size: 28upx;
		padding: 6upx 18upx;
		border-radius: 40upx;
	}
	.bottom_bar{
		height: 90upx;
		line-height: 90upx;
		position: absolute;
		bottom: 0;
		background: rgba(0,0,0,0.3);
		color: #FFFFFF;
		font-size: 28upx;
		box-sizing: border-box;
		padding: 0 20upx;
		left: 0;
		right: 0;
		text{
			float: right;
			border: 1upx solid #fff;
			height: 60upx;
			line-height: 60upx;
			margin: 15upx;
			width: 160upx;
			text-align: center;
		}
	}
}

.course_title_sec{
	background: #FFFFFF;
	display: flex;
	box-sizing: border-box;
	padding: 20upx 20upx 30upx;
	margin-bottom: 20upx;
	.info_warp{
		flex-grow: 1;
		width: 0;
		padding-top: 10upx;
		.title{
			font-weight: bold;
			font-size: 34upx;
		}
		.sec_title{
			font-size: 28upx;
			color: #999999;
			margin-top: 15upx;
		}
		.price{
			margin-top: 10upx;
			.current{
				font-weight: bold;
				margin-right: 30upx;
			}
			.old{
				color: #999;
				text-decoration: line-through;
				font-size: 26upx;
			}
		}
	}
	.process{
		flex-basis: 140upx;
		text-align: center;
		.per{
			height: 100upx;
			line-height: 100upx;
			font-size: 50upx;
			color: $mainColor;
		}
		.begin{
			color: $mainRed;
			border: 1upx solid $mainRed;
			padding: 5upx 12upx;
			font-size: 28upx;
			border-radius: 40upx;
		}
	}
}

.margin_title{
	background: #FFFFFF;
	margin-top: -20upx;
	border-top: 1upx solid $mainBgColor;
	padding: 40upx 0 40upx 3%;
}

.course_intro{
	box-sizing: border-box;
	padding: 0 3% 20upx;
	background: #FFFFFF;
	image{
		display: block;
		width: 100%;
	}
}

.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	.bottom_button{
		background: #FFFFFF;
		display: flex;
		height: 110upx;
		.more{
			flex-basis: 140upx;
			text-align: center;
			font-size: 24upx;
			color: #333;
			image{
				width: 50upx;
				display: block;
				margin: 15upx auto 5upx;
			}
		}
		.side_button{
			flex-grow: 1;
			box-sizing: border-box;
			padding: 0 30upx 0 40upx;
			text{
				display: inline-block;
				width: 50%;
				text-align: center;
				height: 80upx;
				line-height: 80upx;
				margin-top: 15upx;
				color: #FFFFFF;
				font-size: 28upx;
			}
			.share{
				background: greenyellow;
				border-radius: 80upx 0 0 80upx;
			}
			.pay{
				background: $mainRed;
				border-radius: 0 80upx 80upx 0;
			}
		}
	}
}

.empty_bar{
	width: 100%;
	height: 240upx;
}

.video_container{
	video{
		width: 100%;
	}
}

.intro_container{
	box-sizing: border-box;
	padding: 20upx 3%;
	.title{
		font-size: 34upx;
		font-weight: bold;
	}
	.intro{
		font-size: 28upx;
		color: #666;
		margin-top: 18upx;
	}
}

.cate_banner{
	width: 100%;
	height: 280upx;
	box-sizing: border-box;
	padding: 20upx 26upx;
	background: #FFFFFF;
	overflow: hidden;
	image{
		width: 100%;
		height: 220upx;
	}
}

.category_container{
	width: 100%;
	height: calc(100vh - 300upx);
	background: #FFFFFF;
	margin-top: 20upx;
	display: flex;
	.left_cate{
		flex-basis: 180upx;
		background: $mainBgColor;
		height: 100%;
		overflow-y: auto;
		text{
			display: block;
			height: 80upx;
			line-height: 80upx;
			text-align: center;
			font-size: 28upx;
			color: #666;
			margin-bottom: 10upx;
		}
		.active{
			border-left: 5upx solid $mainColor;
			color: $mainColor;
		}
	}
	.course_list{
		height: 100%;
		box-sizing: border-box;
		padding: 0 0 0 20upx;
		flex-grow: 1;
		width: 0;
		scroll-view{
			width: 100%;
			height: 100%;
			.c_title{
				padding: 20upx 0 20upx;
				font-size: 30upx;
			}
			.course{
				display: flex;
				position: relative;
				padding-bottom: 20upx;
				margin-bottom: 25upx;
				.course_poster{
					flex-basis: 250upx;
					image{
						width: 100%;
					}
				}
				.course_info{
					flex-grow: 1;
					width: 0;
					box-sizing: border-box;
					padding: 0upx 0 0 14upx;
					.course_title{
						font-size: 28upx;
						font-weight: bold;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
					.course_intro{
						font-size: 24upx;
						color: #999;
						margin-top: 10upx;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
					.course_sale_info{
						font-size: 26upx;
						margin-top: 8upx;
						display: flex;
						justify-content: space-between;
						.sold{
							color: #666;
							margin-right: 10upx;
						}
					}
				}
			}
			.course:after{
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 1upx;
				background: $mainBgColor;
			}
			.course:last-child:after{
				background: none;
			}
		}
	}
}

.course_directory{
	box-sizing: border-box;
	padding: 20upx 5%;
	background: #FFFFFF;
	margin-top: -18upx;
	.video_list{
		.flex_video_warp{
			display: flex;
			margin-bottom: 24upx;
			.poster_warp{
				flex-basis: 120upx;
				position: relative;
				.poster{
					width: 100%;
				}
				.mask{
					position: absolute;
					background: rgba(0,0,0,0.3);
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					image{
						width: 50upx;
						height: 50upx;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translateX(-50%) translateY(-50%);
					}
				}
			}
			.video_info{
				flex-grow: 1;
				width: 0;
				box-sizing: border-box;
				padding-left: 20upx;
				.title{
					font-size: 28upx;
					color: #333333;
				}
				.time{
					color: #999999;
					font-size: 26upx;
				}
			}
		}
	}
}